.navbar .navbar-nav li a {
    transition: all 0.4s ease-in;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
color: #66FCf1;
}

.navbar-toggler-icon {
    color: #ffffff;
}