.navbar-brand {
    margin-left: 5%;
}

.navbar .navbar-nav li a {
    -webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#NavCollapse {
    margin-right: 10%;
}

.navbar-nav .nav-item {
    margin: auto 1rem auto 1rem;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
color: #66FCf1;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.nav-link {
    text-align: center;
}