* {
    font-family: sans-serif;
}

#ngbNav {
    overflow: hidden;
}

.navbar {
    background-color: #0B0C10;
    width: 100%;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-nav {
    padding: 1rem 4rem;
}

.navbar a {
    background-color: inherit;
    color: #ffffff;
    padding: 1rem;
}

.navbar a:hover {
    color: #66FCf1;
}