<!-- about header section -->
<div id="about-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- team section -->
<div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Learn About Me</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
         </div>
         
         <div class="row mt30">
			<div class="col-md-12 col-sm-12 d-flex justify-content-center text-center">
				<div class="team-wrapper">
					<img src="../../assets/team1.jpg" class="img-responsive" alt="team img">
					<h3>BENNY</h3>
					<h4>Specialist - Software Development and Engineering</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
				</div>
			</div>
         </div>
         
         <div class="row mt30"> 
			<div class="col-md-12 col-sm-12">
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 id="BenTech">BenTech</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="container grid-container">
                    <div class="grid-item"><img class="TechImg" src="https://img.icons8.com/color/48/000000/microsoft-sql-server.png"/></div>
                    <div class="grid-item"> 
                        <img class="TechImg" src="../../assets/angular.png"/>
                    </div>
                    <div class="grid-item">
                        <img class="TechImg" src="https://img.icons8.com/color/48/000000/tableau-software.png"/>
                    </div>
                    <div class="grid-item">
                        <img class="TechImg" src="../../assets/python.png" />
                    </div>
                    <div class="grid-item">
                        <img class="TechImg" src="https://img.icons8.com/color/48/000000/splunk.png"/>
                    </div>
                    <div class="grid-item">
                        <img class="TechImg" src="https://img.icons8.com/color/48/000000/amazon-web-services.png"/>
                    </div>
                    <div class="grid-item">
                        <img class="TechImg" src="https://img.icons8.com/color/48/000000/windows-10.png"/>
                    </div>
                    <div class="grid-item">8</div>
                    <div class="grid-item">9</div>
                </div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>