<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>My Projects</h2>
				<p>Check out some of the projects I have completed!</p>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project1.png" alt="portfolio img"></a>
				<div class="portfolio-text">Stock Screener - Python, Django, SQL</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project2.png" alt="portfolio img"></a>
				<div class="portfolio-text">Bug Tracker - C#, Web API, .NET, SQL</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project3.png"alt="portfolio img"></a>
				<div class="portfolio-text">Tennis Shop - Angular, SQL</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>