<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>
			<div class="col-md-7 col-sm-9">
				<h3><b>Welcome to BEN TECH</b></h3>
				<br>
				<h1><b>Solving modern problems requires modern solutions</b></h1>
			</div>
		</div>
	</div>
</div>

<div class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="divider-wrapper divider-one">
					<i class="fa fa-css3"></i>
					<h2>Frontend</h2>
					<p>Experience in UI/UX and backend server implementations</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="divider-wrapper divider-two">
					<i class="fa fa-server"></i>
					<h2>Middle Tier</h2>
					<p>Physical, Cloud, and Virtual server management</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="divider-wrapper divider-three">
					<i class="fa fa-database"></i>
					<h2>Backend</h2>
					<p>Database administration, performance tuning, ETL, and much more</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="../../assets/about-home.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des">
				<h2>Meet Me!</h2>
				<p>I am a self taught developer who is looking to put themselves out there for a first
					time developer role. Most recently I have worked on the Platform Integration team
					of my company where I supported our investments team and was a database administator
					of our organization's stacks.
				</p>
				<p>Some of the technologies I am looking to pursue professionally are Angular, C#, .NET, 
					.NET Web API, Python, Django, and much more!
				</p>
				<a routerLink="/About" routerLinkActive="activebutton" class="btn btn-default">LEARN MORE</a>
			</div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Recent Projects</h2>
				<p>Check out some of the projects I have completed!</p>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project1.png" alt="portfolio img"></a>
				<div class="portfolio-text">Stock Screener - Python, Django, SQL</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project2.png" alt="portfolio img"></a>
				<div class="portfolio-text">Bug Tracker - C#, Web API, .NET, SQL</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="../../assets/Project3.png"alt="portfolio img"></a>
				<div class="portfolio-text">Tennis Shop - Angular, SQL</div>
			</div>
			<div class="col-md-12">
				<a rel="nofollow" href="http://www.templatemo.com/tag/darkgray" class="btn btn-default">View More</a>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>