<!-- <header class="home-hero" role="banner">
    <video autoplay="" id="heroVideo" loop="" muted="" height="100%" width="100%">
        <source src="assets/AnimatedHero.mp4" type="video/mp4">
    </video>
    
</header>

<div class="introContainer container">
    Stuff
</div> -->

<header class="home-hero" role="banner">
    <video autoplay="" id="heroVideo" loop="" muted="">
        <source src="assets/AnimatedHero.mp4" type="video/mp4" />
    </video>
    <div class="container d-flex flex-row">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center text-white py-md-5 text-container">
                    <h2 class="display-4 mb-0">Be part of the <span class="d-block font-weight-bold">Lunar XPerience</span></h2>
                    <p class="lead my-4">If you're an explorer, then the moon is calling.
                        <br>Join the LunarXP mission where new worlds await.</p>	
                        <a class="btn btn-outline-light w-max mt-2" href="#" tabindex="0">Projects</a>
                        <a class="btn btn-outline-light w-max mt-2" href="#" tabindex="0">Contact</a>
                </div>
            </div>
        </div>
</header>